@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.cover-img{
    filter: brightness(50%);
}

@media only screen and (max-width: 576px) {
    .carousel-item img{
        height: 600px;
        object-fit: cover;
    }
    .carousel-caption h1{
        font-size: 30px;
    }
    .carousel-caption p{
        font-size: 12px;
    }

    .courses-column .d-flex{
        width: 90%;
        margin: auto;
    }
    .courses-img{
        width: 100%;
    }
    .courses-img img{
        width: 100%;
        height: 240px;
    }
    .courses-info{
        margin: 5% 0%;
        text-align: center;
        padding: 3%;
    }

    .register-info h2,p{
        text-align: center;
    }
}

@media only screen and (min-width: 577px) and (max-width: 1200px) {
    .carousel-item img{
        height: 800px;
        object-fit: cover;
    }
    
    .register-info h2,p{
        text-align: center;
    }
}